body{
    background-color: #d5e1ef;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

h1{
    color: #1f314f;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 120%;
}

p {
    color: #68778d;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 140%;
}

.qr-card {
    background-color: #ffffff;
    width: fit-content;
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    vertical-align: bottom;
  }

.image-qr-code, 
.card-txt {
  width: 280px
}

.image-qr-code {
  height: 280px;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
